.App {
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
}

.button {
  display: block;
  background-color: #C43627;
  padding:16px 20px;
  width:20%;
  margin: 6px auto;
  border-radius: 24px;
  transition: 2s ease all;
}

.button.whitebutton {
    background-color: #FFF;
}

.button:hover {
  background-color: #991F16;
  transition: 1s ease all;
}

.button.whitebutton:hover {
    background-color: #E2E2E2;
}

.button a {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}

.button.whitebutton a{
    color: #C43627;
}

.App-logo {
  height: 55px;
}

.App-header {
  background: url(landscape.svg) repeat-x center bottom, linear-gradient(#92D2C4,#AECBA0);
  padding: 120px;
  color: #991F16;
}

.App-header h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4em;
  margin: 0px;
  padding: 7px 0px 10px 0px;
}

.Content {
  background: #FAF6EC;
  height:200px;
}

.Content h2 {
  margin:0;
  padding:14px 0px;
  font-weight: 300;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
