body {
  background: #0074A5;
}

.App {
  font-family: 'Helvetica Neue', sans-serif;
  background: #0074A5;
}

.button-group {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.button {
  display: block;
  background-color: #0074A5;
  padding:16px 0px;
  width:100%;
  margin: 6px;
  border-radius: 24px;
  transition: 2s ease all;
  text-align: center;
}

.button.whitebutton {
    background-color: #FFF;
    border:1px solid #fff;
}

.button:hover {
  background-color: #005AFF;
  transition: 1s ease all;
}

.button.whitebutton:hover {
    background-color: #EEF2F3;
}

.button a {
  display: block;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}

.button.whitebutton a{
    color: #0074A5;
}

.App-logo {
  width:100%;
}

.color-cover {
  background: url("./assets/skyline.jpg") no-repeat top center;
  background-size: 100%;
}

.App-header {
  
  background: linear-gradient(rgba(217, 94, 106, 0.9),rgba(249, 171, 95, 0.9));
  padding: 210px 0px 130px 0px;
  color: #169AFC;
}

.App-header h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4em;
  margin: 0px;
  padding: 7px 0px 10px 0px;
}

.App-header h2 {
  font-size: 30px;
  margin:25px 0px 0px 0px;
}

.App-header h3 {
  font-size: 24px;
  font-weight: 300;
  margin:0px 0px 35px 0px;
}

.header-wrap {
  color: #FFF;
  width:63%;
  margin: 0px auto;
}

.header-content {
  text-align: center;
}

.Content {
    background: #0074A5;
    color: #FFF;
    padding-top:96px;
}

.Content-home {
  padding-top:0px !important;
}

.Content h2 {
  margin:0;
  padding:14px 0px;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
}

.intro_message {
  width:70%;
  margin:0px auto;
  padding:50px 0px;
  text-align: center;
}

.intro_message h3 {
  font-weight: 300;
  font-size:32px;
  margin: 0px;
  padding: 20px 0px 0px 0px;
}

.intro_message p {
  width:80%;
  margin:0px auto;
  font-size: 18px;
  padding:20px 0px;
}

.agenda {
  background: #FFF;
  width:80%;  
  margin:0px auto;
  color:#000;
  padding:0px 0px 20px 40px;
}

.agenda ul {
  border-left: 1px solid #0074A5;
  list-style: none;
  padding:0px 0px 0px 0px;
  width:90%;
  margin: 0px auto;
}

.agenda ul li:before {
  content: "•";
  color: #0074A5;
  padding:0px 20px 0px 0px;
  margin-left:-13.5px;
}

.agenda ul li {
  padding:10px;
  margin:10px 0px;
}

.agenda ul li span:before {
  content:"\A";
    border-style: solid;
    border-width: 10px 10px 10px 0px;
    border-color: transparent #0074A5 transparent transparent;
    position: absolute;
    top:9px;
    left: -10px;
}

.agenda ul li span {
  position: relative;
  z-index: 10;
  padding:10px;
  color:#FFF;
  background: #0074A5;
  margin-left:-2px;
}

.flexColumn {
  flex-direction: column,;
}

.sponsorBlurb {
  flex: none;
}

.sponsorTitle {
  flex: none;
}

.sponsorImage {
  max-width: 500px;
  max-height: 400px;
  margin: auto;
  display: block;
}

.sponsorContainer {
  display: flex;
  flex-direction: row;
  background: #eee;
  width: 770px;
  margin: 30px auto;
  padding: 18px;
}

a.sponsorPacket,
a.sponsorPacket:link,
a.sponsorPacket:visited,
a.sponsorPacket:hover,
a.sponsorPacket:active {
  color: #fff;
  text-decoration: underline;
}


.blackText {
  color: #000;
}

@media only screen and (max-width: 500px) {
  .App-header {
    padding: 70px 0px;
  }
  .Content {
    padding-top:0px;
  }
  .agenda {
    width:85%;
    padding:10px;
  }
  .agenda ul {
    list-style: none;
    border: 0;
  }
  .agenda ul li:before {
    content: "";
    padding:0px;
    margin-left:0px;
  }
  .agenda ul li span:before {
    content:"";
    border-style: 0;
    border-width: 0px;
    border-color: transparent #0074A5 transparent transparent;
    position: relative;
    top:0px;
    left: 0px;
  }
  .agenda ul li span {
    background: transparent;
    font-weight: bold;
    color:#0074A5;
  }
  .header-wrap {
    width: 90%;
  }
  .header-content h1 {
    font-size: 2.6em;
  }
  .button-group {
    flex-direction: column;
  }
}