body {
  background: #0074A5;
}

.App {
  font-family: 'Helvetica Neue', 'Arimo', sans-serif;
  background: #0074A5;
}

.button-group {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.stacked.button-group {
  flex-direction: column;
  width:50%;
  margin: 0px auto;
}

.center-text {
  text-align: center;
}

.button {
  display: block;
  background-color: #0074A5;
  color: #fff;
  padding:16px 0px;
  width:95%;
  margin: 6px auto;
  border-radius: 24px;
  transition: 2s ease all;
  text-align: center;
}

a.button,
a.button:link,
a.button:visited,
a.button:hover,
a.button:active {
  text-decoration: none;
  color: #0074A5;
}

.button.whitebutton {
    background-color: #FFF;
    border:1px solid #fff;
}

.button.goldbutton {
    background-color: #FCB720;
    color: #fff;
    width: 35%;
    border:1px solid #fff;
}

.button:hover {
  background-color: #005AFF;
  transition: 1s ease all;
}

.button.whitebutton:hover {
    background-color: #EEF2F3;
}

.button.goldbutton:hover {
    background-color: #FCB720;
}


.button a {
  display: block;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}

.button.whitebutton a{
    color: #0074A5;
}

.App-logo {
  width:100%;
}

.color-cover {
  background: url("./assets/skyline.jpg") no-repeat top center;
  background-size: 100%;
}

.App-header {
  
  background: linear-gradient(rgba(217, 94, 106, 0.9),rgba(249, 171, 95, 0.9));
  padding: 210px 0px 130px 0px;
  color: #169AFC;
}

.App-header h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4em;
  margin: 0px;
  padding: 7px 0px 10px 0px;
}

.App-header h2 {
  font-size: 30px;
  margin:25px 0px 0px 0px;
}

.App-header h3 {
  font-size: 24px;
  font-weight: 300;
  margin:0px 0px 35px 0px;
}

.header-wrap {
  color: #FFF;
  width:63%;
  margin: 0px auto;
}

.header-content {
  text-align: center;
}

.Content {
    background: #0074A5;
    color: #FFF;
    padding-top:96px;
}

.Content-home {
  padding-top:0px !important;
}

.Content h2 {
  margin:0;
  padding:14px 0px;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
}

.Content h3 {
  text-align: center;
  font-size: 1.8em;
}

.Content h4 {
  text-align: center;
  font-size: 1em;
}

.Content a, a:visited, a:active {
  text-decoration: none;
  color: #000;
}

.Content a:hover {
  color:#fcb315;  /* mouse over link */
  text-decoration: none;
}

.green {
  color: #fcb315;
  display:inline;
}

.interestedSponsor {
  text-align: center;
  font-size: 1em;
  margin-top:50px;
}

.intro_message {
  width:70%;
  margin:0px auto;
  padding:50px 0px;
  text-align: center;
}

.intro_message h3 {
  font-weight: 300;
  font-size:32px;
  margin: 0px;
  padding: 20px 0px 0px 0px;
}

.content-bar {
  font-weight: 300;
  font-size:32px;
  text-align: center;
   margin: 0px;
  padding: 50px 0px;
  width:100%;
  color: rgb(0, 116, 165);
  background: #fff;
  display:flex;
  justify-content: center;
  }

.content-bar-text {
   width: 75%;
}

.intro_message p {
  width:80%;
  margin:0px auto;
  font-size: 18px;
  padding:20px 0px;
}

.agenda {
  background: #FFF;
  width:80%;  
  margin:0px auto;
  color:#000;
  padding:0px 0px 20px 40px;
}

.agenda ul {
  border-left: 1px solid #0074A5;
  list-style: none;
  padding:0px 0px 0px 0px;
  width:90%;
  margin: 0px auto;
}

.agenda ul li:before {
  content: "•";
  color: #0074A5;
  padding:0px 20px 0px 0px;
  margin-left:-13.5px;
}

.agenda ul li {
  padding:10px;
  margin:10px 0px;
}

.agenda ul li span:before {
  content:"\A";
    border-style: solid;
    border-width: 10px 10px 10px 0px;
    border-color: transparent #0074A5 transparent transparent;
    position: absolute;
    top:9px;
    left: -10px;
}

.agenda ul li span {
  position: relative;
  z-index: 10;
  padding:10px;
  color:#FFF;
  background: #0074A5;
  margin-left:-2px;
}

.Footer {
  width:100%;
  margin: 50px auto;
  text-align: center;
}

.Footer img {
  width: 100px;
  height:auto;
}

.footerText {
  color: #fff;
  margin-top: 20px;
  text-decoration: none;
  display: block;
}

.createdBy {
  margin-top:10px;
}

.createdBy a{
  color:#8cbace;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.footerBlue {
  text-align: center;
  color: #27aae1;
  margin-top:10px;
}

.headerLink {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.flexColumn {
  flex-direction: column,;
}

.sponsorBlurb {
  flex: none;
}

.sponsorTitle {
  flex: none;
}

.sponsorImage {
  width:100%;
  height:auto;
  margin: auto;
  display: block;
}

.sponsorContainer {
  width: 50%;
  margin: 30px auto;
  padding: 18px;
}
.partnersContainer {
  width: 45%;
  margin: 30px auto;
}

a.whiteLink,
a.whiteLink:link,
a.whiteLink:visited,
a.whiteLink:hover,
a.whiteLink:active {
  color: #fff;
  text-decoration: underline;
}


.blackText {
  color: #000;
}

@media only screen and (max-width: 500px) {
  .App-header {
    padding: 70px 0px;
  }
  .Content {
    padding-top:0px;
  }
  .intro_message {
    width:90%;
  }
  .intro_message h3{
    font-size: 24px;
  }
  .intro_message p {
    width:90%;
  }
  .agenda {
    width:85%;
    padding:10px;
  }
  .agenda ul {
    list-style: none;
    border: 0;
  }
  .agenda ul li:before {
    content: "";
    padding:0px;
    margin-left:0px;
  }
  .agenda ul li span:before {
    content:"";
    border-style: 0;
    border-width: 0px;
    border-color: transparent #0074A5 transparent transparent;
    position: relative;
    top:0px;
    left: 0px;
  }
  .agenda ul li span {
    background: transparent;
    font-weight: bold;
    color:#0074A5;
  }
  .header-wrap {
    width: 90%;
  }
  .header-content h1 {
    font-size: 2.6em;
  }
  .partnersContainer {
    width: 90%;
  }
  .sponsorContainer {
    width:90%;
    margin:50px auto;
    padding:0px;
  }
  .interestedSponsor {
    margin-top:20px;
  }
  .button-group {
    flex-direction: column;
  }
  .stacked.button-group {
    width:90%;
  }
  .button.goldbutton {
    width: 60%;
  }
}