.Content a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #0074A5;
}

.Content a:hover {
  text-decoration: underline;
}

.faq-group {
   column-width: 30%;
   column-count: 2;
   column-gap: 10px;
   width:80%;
   margin:0px auto;
}

.FaqCard {
  background: #FFF;
  color:#000;
  margin:10px;  break-inside: avoid-column;
  border-radius: 3px;
}

.FaqQuestion {
  border-radius: 3px;
  background: #ffffff;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  margin: 0px 25px;
  border-bottom: 2px solid #fcb315;
}

.FaqAnswer {
  padding:10px 10px 25px 10px;
  margin: 0px 25px;
}

@media only screen and (max-width: 500px) {
  .faq-group {
   column-width: 100%;
   column-count: 1;
   column-gap: 0px;
   width:90%;
   margin:0px auto;
}

}