.faq-group {
   column-width: 20%;
   column-count: 3;
   column-gap: 10px;
   width:90%;
   margin:0px auto;
}

.FaqCard {
  background: #FFF;
  color:#000;
  margin:10px;  break-inside: avoid-column;
  border-radius: 3px;
}

.FaqQuestion {
  border-radius: 3px;
  background: #e4e4e4;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  padding:10px;
}

.FaqAnswer {
  padding:10px;
}

@media only screen and (max-width: 500px) {
  .faq-group {
   column-width: 100%;
   column-count: 1;
   column-gap: 0px;
   width:90%;
   margin:0px auto;
}

}