.sponsor-group {
    column-width: 30%;
    column-count: 2;
    column-gap: 10px;
    width: 80%;
    margin: 0px auto;
}

.sponsorCard {
    border-color: #FFF;
    color: #000;
    /*margin: 10px;*/
    break-inside: avoid-column;
    border-radius: 3px;
    border-width: 3px;
    width: 45%;
    margin: 30px auto;
}

p {
    padding-bottom: 10px;
}

.sponsorLevelTitle {
    border-radius: 3px;
    background: #ffffff;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    margin: 0px 25px;
    border-bottom: 2px solid #fcb315;
}

@media only screen and (max-width: 500px) {
    .sponsor-group {
        column-width: 100%;
        column-count: 1;
        column-gap: 0px;
        width: 90%;
        margin: 0px auto;
    }
}