.sponsor-group {
    width: 80%;
    margin: 0px auto;
}

.sponsorCard {
    color: #000;
    /*margin: 10px;*/
    break-inside: avoid-column;
    margin: 30px auto;
}

.sponsorCardBorder {
    border-color: #FFF;
    border-style: solid;
    border-radius: 3px;
    border-width: 3px;
    margin: auto;
    width: 45%;
}

p {
    padding-bottom: 10px;
    color: #ffffff
}

.sponsorLevelTitle {
    border-radius: 3px;
    background: #ffffff;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    /*margin: 0px 25px;*/
    border-bottom: 2px solid #fcb315;
}

@media only screen and (max-width: 500px) {
    .sponsor-group {
        width: 90%;
        margin: 0px auto;
    }
}